{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body%}
<div id="requests">
    <div id="POSTS">
        <h2>POST Requests</h2>
        <!-- TODO:
            -   Update with new POST endpoints
                    send_pre_invitation
        -->
    </div>

    <div id="GETS">
        <h2>GET Requests</h2>
        <!-- TODO:
            -   Update with new GET endpoints
                    get_message_status
                    get_nhs_app_details
        -->
    </div>
</div>

{% endblock %}
