{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body%}
<section>
    <h1>Send Batch Pre Invitation</h1>
    <p><strong>Endpoint:</strong> <code>/send-pre-invitation</code></p>
    <p><strong>Method:</strong> <code>POST</code></p>
    <button onclick="sendBatchPreInvitationRequest()">Send Request</button>
    <div id="batchPreInvitationRequestBodyDisplay"></div>
    <div id="batchPreInvitationResponseDisplay"></div>
</section>

<section>
    <h1>Send Single Pre Invitation</h1>
    <p><strong>Endpoint:</strong> <code>/send-pre-invitation</code></p>
    <p><strong>Method:</strong> <code>POST</code></p>
    <button onclick="sendSinglePreInvitationRequest()">Send Request</button>
    <div id="singlePreInvitationRequestBodyDisplay"></div>
    <div id="singlePreInvitationResponseDisplay"></div>
</section>

<section>
    <h2>Get Message Status</h2>
    <p><strong>Endpoint:</strong><code>/message-status/{message_id}</code></p>
    <p><strong>Method:</strong> <code>GET</code></p>
    <label for="messageId">Enter Message ID:</label>
    <input type="text" id="messageId">
    <button onclick="sendGetMessageStatusRequest()">Send GET Request</button>
    <div id="getMessageStatusResponseDisplay"></div>
</section>

{% endblock %}
